doctype html
html.no-js
  include ./views/includes/head.jade
  body(ng-app="tuxedioFrontendApp")
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    include ./views/includes/navigation.jade
    .container
      .header

      div(ng-view="")

      include ./views/includes/footer.jade

    include ./views/includes/scripts.jade

