
.row
  a.close-button(ng-click="open_login = false")
    span.glyphicon.glyphicon-remove(aria-hidden="true")
.row
  //- Right Login Section
  .login-section.col-md-4.col-md-offset-1
    form(ng-submit="submit()" role='form')
      .h4 Log into Tuxedio
      .login-message(ng-if="message"){{message}}
      .form-group
        input.form-control(ng-model="login.user.email" type='email', id='inputEmail', name="user", placeholder='Email')
      .form-group
        input.form-control(ng-model="login.user.password" type='password', id='inputPassword', name="pass", placeholder='Password')
      .form-group
        .checkboxe
          label
            input(type='checkbox')
            |  Remember me
      .form-group
        .col-sm-offset-4.col-sm-8
          button.btn.btn-success(type='submit', value="Login") Sign in

  .col-md-2
    .vertical-divider

  //- Right Login Section
  .signup-section.col-md-4
    h4 Don't have an account yet?
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
    button.btn.btn-default(ng-click="open_login = false; open_signup = !open_signup")
      | Sign up for an account!
