li.dropdown(ng-hide="signedin")
  a.dropdown-toggle(data-toggle='dropdown')
    button.btn.btn-primary
      | Sign up
  ul.dropdown-menu(role='menu')
    li.sign-up-tuxedian
      a.thumbnail(href="#")
        img(src="" alt="")
      button.btn.btn-default Become a tuxedian
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
    li.sign-up-contributer
      button.btn.btn-default Join the contributer team
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
