.row
  a.close-button(ng-click="open_signup = false")
    span.glyphicon.glyphicon-remove(aria-hidden="true")
.row
  .sign-up-tuxedian.col-md-4.col-md-offset-1
    a(href="#")
      img.img-circle.img-responsive(
        src="images/signup-become-a-tuxedian.jpg"
        alt="Sign up as a Tuxedian"
        )
    button.btn.btn-default Become a tuxedian
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.

  .col-md-2
    .vertical-divider

  .sign-up-contributer.col-md-4
    a(href="#")
      img.img-rounded.img-responsive(
        src="images/signup-become-a-contributer.jpg"
        alt="Sign up as a Contributer"
        )
    button.btn.btn-default Join the contributer team
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
