slick(class="slider single-item" current-index="index" responsive="breakpoints")
  div(ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]")
    h3 {{i}}
  p Current index: {{index}}
.jumbotron(style="text-align:center")
  h1 'Allo, 'Allo!
  p.lead
    img(src="images/yeoman.png", alt="I'm Yeoman")
    | Always a pleasure scaffolding your apps.
  p
    a.btn.btn-lg.btn-success(ng-href="#") Splendid!&nbsp;
      span.glyphicon.glyphicon-ok

.row.marketing
  .col-md-4
    h4 HTML5 Boilerplate
    p.
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.

  .col-md-4
    h4 Angular
    p.
      AngularJS is a toolset for building the framework most suited to your application development.

  .col-md-4
    h4 Karma
    p Spectacular Test Runner for JavaScript.
