.panel.panel-default
  .panel-body
    h2 Account Info
    p This panel displays the info associated with the current user.

    h3 <u>current user</u>

    .row

      .col-sm-8
        label user signed in?
        p {{ user.signedIn ? "true" : "false" }}

        label user email
        p {{ user.email || "n/a" }}

        label favorite color (optional)
        p {{ user.favorite_color || "n/a" }}

      .col-sm-4(ng-if='user.signedIn')
        img(ng-src='{{ user.image }}', width="100%")

.jumbotron
  h1 'Allo, 'Allo!
  p.lead
    img(src="images/yeoman.png", alt="I'm Yeoman")
    | Always a pleasure scaffolding your apps.
  p
    a.btn.btn-lg.btn-success(ng-href="#") Splendid!&nbsp;
      span.glyphicon.glyphicon-ok

.row.marketing
  .col-md-4
    h4 HTML5 Boilerplate
    p.
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.

  .col-md-4
    h4 Angular
    p.
      AngularJS is a toolset for building the framework most suited to your application development.

  .col-md-4
    h4 Karma
    p Spectacular Test Runner for JavaScript.
